<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="left">
            <div id="image_seal_container">
                <img id="image_seal" src="assets/images/SealCircle.png"/>
                <div id="updateAvailableTooltip"><%- lang('landing.updateAvailableTooltip') %></div>
            </div>
            <div id="landingServerPanel">
                <div id="landingServerList"></div>
            </div>
        </div>
        <div id="content">
        </div>
        <div id="right">
            <div id="rightContainer">
                <div id="user_content">
                    <span id="user_text"><%- lang('landing.usernamePlaceholder') %></span>
                    <div id="avatarContainer">
                        <button id="avatarOverlay"><%- lang('landing.usernameEditButton') %></button>
                    </div>
                </div>
                <div id="socialLinksPanel">
                    <a class="socialLinkButton" href="<%- lang('landing.mediaWebsiteURL') %>" title="Strona WWW">
                        <svg class="socialLinkSVG" viewBox="0 0 24 24" aria-hidden="true">
                            <circle cx="12" cy="12" r="9"/>
                            <path d="M3 12h18M12 3c2.5 2.8 3.8 5.8 3.8 9S14.5 18.2 12 21M12 3c-2.5 2.8-3.8 5.8-3.8 9s1.3 6.2 3.8 9"/>
                        </svg>
                    </a>
                    <a class="socialLinkButton" href="<%- lang('landing.mediaYouTubeURL') %>" title="YouTube">
                        <svg class="socialLinkSVG youtubeSocialSVG" viewBox="0 0 24 24" aria-hidden="true">
                            <rect x="3" y="6.5" width="18" height="11" rx="3"/>
                            <path d="M10.5 9.5v5l4.5-2.5-4.5-2.5z"/>
                        </svg>
                    </a>
                    <a class="socialLinkButton" href="<%- lang('landing.mediaTikTokURL') %>" title="TikTok">
                        <svg class="socialLinkSVG" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M15.4 3c.3 2.5 1.7 4.1 4.1 4.3v3.1a7.4 7.4 0 0 1-4.1-1.3v5.8c0 3.2-2.3 5.6-5.5 5.6A5.2 5.2 0 0 1 4.6 15c0-3.2 2.5-5.4 5.9-5.2v3.3c-1.5-.2-2.6.6-2.6 1.9 0 1.2.9 2 2 2 1.4 0 2.2-.9 2.2-2.5V3h3.3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="lower">
        <div id="left">
            <div class="bot_wrapper">
                <div id="leftStatusStack">
                    <a id="discordJoinWrapper" href="<%- lang('landing.mediaDiscordURL') %>">
                        <span class="bot_label"><%- lang('landing.discordStatus') %></span>
                        <span id="discordJoinText"><%- lang('landing.discordJoin') %></span>
                    </a>
                </div>
            </div>
        </div>
        <div id="center">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <button id="launch_button"><%- lang('landing.launchButton') %></button>
                </div>
                <div id="launch_details">
                    <div id="launch_details_left">
                        <span id="launch_progress_label">0%</span>
                        <div class="bot_divider"></div>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text" class="bot_label"><%- lang('landing.launchDetails') %></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="bot_wrapper">
                <div id="serverSummary">
                    <button id="server_selection_button" class="bot_label"><%- lang('landing.launchButtonPlaceholder') %></button>
                    <div id="server_status_wrapper">
                        <span class="bot_label" id="landingPlayerLabel"><%- lang('landing.serverStatus') %></span>
                        <span id="player_count"><%- lang('landing.serverStatusPlaceholder') %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>
